PORT=3000
SECRET_KEY=123qweASD
MONGO_URL=mongodb+srv:/__USER__:__PASSWORD__@learningrecords.jqyejmz.mongodb.net/__DB_NAME__?retryWrites=true&w=majority
MONGO_URL=mongodb://admin:MishaDimaVika@127.0.0.1:27017/goit?authSource=admin&w=1
CLOUD_NAME=__NAME__
CLOUD_API_KEY=__KEY__
CLOUD_API_SECRET=__SECRET__
META_PASSWORD=__PASSWORD__